/**
 * Definition of main theme terms
 *
 * This defines the theme fundamental terms of the theme
 * such as its colors, font faces etc. are defined.
 * Typically the colors consist of the palette of a
 * CI or Web site design.
 */

/**
 * Colors
 */

:root
  /* Grays */
  --gray-darker: hsl(0, 0%, 13%)
  --gray-dark-p: hsl(0, 0%, 25%)
  --gray-dark: hsl(0, 0%, 38%)
  --gray: hsl(0, 0%, 50%)
  --gray-light: hsl(0, 0%, 63%)
  --gray-light-p: hsl(0, 0%, 75%)
  --gray-lighter: hsl(0, 0%, 88%)
  --gray-light-pp: hsl(0, 0%, 92%)

  /* Brand Accent Colors */
  --brand-accent-darker: #000
  --brand-accent-dark: #000
  --brand-accent: #000
  --brand-accent-light: var(--gray-dark)
  --brand-accent-lighter: var(--gray-darker)

  /* Semantic Brand Colors */
  --brand-primary: "#428bca"
  --brand-success: "#5cb85c"
  --brand-info: "#5bc0de"
  --brand-warning: "#f0ad4e"
  --brand-danger: "#d9534f"

  /* Semantic Colors
   ----------------- */
  --emphasized-dark-color: var(--black)
  --emphasized-medium-color: var(--brand-primary)
  --emphasized-light-color: var(--black)

  --primary-dark-color: var(--black)
  --primary-medium-color: var(--brand-primary)
  --primary-light-color: var(--white)

  --success-dark-color: #3c763d
  --success-medium-color: var(--brand-success)
  --success-light-color: #dff0d8

  --info-light-color: #d9edf7
  --info-medium-color: var(--brand-info)
  --info-dark-color: #31708f

  --warning-dark-color: #8a6d3b
  --warning-medium-color: var(--brand-warning)
  --warning-light-color: #fcf8e3

  --error-dark-color: #a94442
  --error-medium-color: var(--brand-danger)
  --error-light-color: #f2dede

  --danger-dark-color: #a94442
  --danger-medium-color: var(--brand-danger)
  --danger-light-color: #f2dede
