/**
 * Overrides of the default theme
 */

:root

  --app-area-max-width: 1260px
  --tree-nav-bg-color: var(--white)
  --tree-nav-color: var(--gray-dark)
  --tree-nav-item-hover-color: var(--black)
  --tree-nav-item-hover-bg-color: var(--gray)

